*{
    padding: 0;
    margin: 0;
    font-family: old english text mt;
    text-decoration: none;
    list-style: none;
}
body {
    padding: 10px;
}


.hed {
    justify-content: center;
    display: flex;
}

/* hero section */
span {
    color: #790e0e;
}


h1 {
    color: rgb(0, 0, 252);
}


.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.lis {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.lis li a {
    color: black;
    transition: ease-in 0.2s;
}
.lis li a:hover {
    color: crimson;
    font-size: 20px;
}
.welcome {
    margin-top: 200px;
    font-size: 20px;
}

button {
    background: rgb(22, 22, 49);
    width: 80px;
    border: solid 1px rgb(31, 31, 143);
    height: 40px;
    margin-top: 30px;
    transition: ease-in 0.2s;
}
button:hover {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
button a:hover {
    color: #790e0e;
}
button a {
    color: wheat;
}
/* about section */




.about {
    width: 100%;
    height: 70vh;
}



/* service section */

.servic {
    width: 100%;
    height: 100vh;
}
.serv {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.sli {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(9, 9, 31);
    margin-top: 100px;
}


/* contact section */



.contact {
    width: 100%;
    height: 20vh;
}
.icon {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.i {
    font-size: 30px;
    color: rgb(4, 4, 70);
}